{% include _head.html %}

<main class="container">

  <h1>Swiper UI</h1>
  <h3>A CSS starter for web projects,<br />
    <u><strong>not</strong></u> a utility-first framework.</h3>
  
  <h2>Introduction</h2>
  <p>Curabitur est gravida et libero vitae dictum. Qui ipsorum lingua Celtae, nostra Galli appellantur. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Quisque placerat facilisis egestas cillum dolore. Nec dubitamus multa iter quae et nos invenerat.
    Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Cras mattis iudicium purus sit amet fermentum. A communi observantia non est recedendum.</p>
  
  <h2>Getting Started</h2>
  <p>Non equidem invideo, miror magis posuere velit aliquet.</p>
  
  {% include _typography.html %}
  {% include _colors.html %}
  {% include _test.html %}

</main>

{% include _foot.html %}
